:root {

    --primary: #7e00ba;
    --primary-dark: #7e00ba;
    --text: #111827;
    --border: #e5e7eb;
    --bg: #ffffff;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: League Spartan;
}

.site-header{

    background:#fff;
    position:sticky;
    top:0;
    z-index:999;
    border-bottom:1px solid var(--border);

}

.container{

    max-width:1400px;
    margin:auto;
    padding:20px 30px;

    display:flex;
    align-items:center;
    justify-content:space-between;

}

.logo{

    display:flex;
    align-items:center;
    gap:10px;

    text-decoration:none;
    color:#4b4b22;
    font-weight:700;
    font-size:20px;

}

.logo img{
    width:150px;
    height:auto;
}

.desktop-nav ul{

    display:flex;
    align-items:center;
    gap:70px;
    list-style:none;

}

.desktop-nav a{

    text-decoration:none;
    color:var(--text);
    font-size:18px;
    font-weight:600;

}

.desktop-nav a:hover{
    color:var(--primary);
}

.dropdown{
    position:relative;
}

.dropdown>a{

    display:flex;
    align-items:center;
    gap:8px;

}

.dropdown-menu{

    position:absolute;
    top:50px;
    left:0;

    background:#fff;

    width:230px;

    list-style:none;

    border-radius:14px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    opacity:0;
    visibility:hidden;

    transform:translateY(15px);

    transition:.3s;

}

.dropdown:hover .dropdown-menu{

    opacity:1;
    visibility:visible;
    transform:translateY(0);

}

.dropdown-menu li a{

    display:block;
    padding:15px 20px;
    border-bottom:1px solid #f3f4f6;

}

.dropdown-menu li:last-child a{
    border-bottom:none;
}

.header-btn{

    background:var(--primary);

    color:#fff;
    text-decoration:none;

    padding:18px 36px;

    border-radius:18px;

    font-size:18px;
    font-weight:600;

    transition:.3s;

    box-shadow:
    0 8px 20px rgba(139,92,246,.25);

}

.header-btn:hover{

    background:var(--primary-dark);
    transform:translateY(-2px);

}

.menu-toggle{

    display:none;
    background:none;
    border:none;

    font-size:32px;
    cursor:pointer;

}

.mobile-menu{

    position:fixed;
    top:0;
    left:-100%;

    width:320px;
    max-width:90%;

    height:100vh;

    background:#fff;

    z-index:1001;

    transition:.4s;

}

.mobile-menu.active{
    left:0;
}

.mobile-header{

    padding:22px;
    border-bottom:1px solid var(--border);

    display:flex;
    align-items:center;
    justify-content:space-between;

}

.close-menu{

    background:none;
    border:none;

    font-size:34px;
    cursor:pointer;

}

.mobile-menu ul{
    list-style:none;
}

.mobile-menu ul li{

    border-bottom:1px solid #f5f5f5;

}

.mobile-menu ul li a{

    display:block;

    padding:22px;

    color:#333;

    text-decoration:none;

    font-size:18px;
    font-weight:600;

}

.mobile-dropdown-btn{

    padding:22px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    cursor:pointer;

    font-size:18px;
    font-weight:600;

}

.mobile-submenu{

    display:none;
    background:#fafafa;

}

.mobile-submenu.active{
    display:block;
}

.mobile-submenu a{

    padding-left:40px !important;

}

.menu-overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.4);

    opacity:0;
    visibility:hidden;

    transition:.3s;

    z-index:1000;

}

.menu-overlay.active{

    opacity:1;
    visibility:visible;

}

@media(max-width:991px){

    .desktop-nav,
    .header-btn{
        display:none;
    }

    .menu-toggle{
        display:block;
    }

    .container{
        padding:18px 20px;
    }

    .logo span{
        font-size:16px;
    }

    .logo img{
        width:150px;
        height:auto;
    }

}

@media(max-width:480px){

    .mobile-menu{
        width:100%;
    }

}

/* =========================
   FOOTER
========================= */

.footer {

    background: #f5f5f5;
    padding: 80px 0 40px;

}

.footer-container {

    max-width: 1750px;
    margin: 0 auto;
    padding: 0 70px;

}

.footer-grid {

    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr;
    gap: 80px;
    align-items: start;

}

/* =========================
   LOGO
========================= */

.footer-logo {

    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    margin-bottom: 40px;

}

.footer-logo img {

    width: 150px;
    height: auto;
    object-fit: contain;

}

.footer-logo span {

    font-size: 34px;
    font-weight: 700;
    color: #3d3d17;
    line-height: 1;

}

.footer-brand p {

    max-width: 430px;

    font-size: 18px;
    line-height: 2;

    color: #333;

}

/* =========================
   COLUMNS
========================= */

.footer-column h4 {

    font-size: 24px;
    font-weight: 500;
    color: #111;

    margin-bottom: 35px;

    letter-spacing: .5px;

}

.footer-column ul {

    list-style: none;
    padding: 0;
    margin: 0;

}

.footer-column ul li {

    margin-bottom: 28px;

}

.footer-column ul li a {

    text-decoration: none;
    color: #63637a;

    font-size: 18px;

    transition: .3s ease;

}

.footer-column ul li a:hover {

    color: #7e00ba;

}

/* =========================
   BOTTOM
========================= */

.footer-bottom {

    margin-top: 90px;
    padding-top: 40px;

    border-top: 1px solid #dddddd;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.copyright {

    font-size: 18px;
    color: #333;

}

.social-links a {

    color: #0f2f25;

    font-size: 18px;

    transition: .3s ease;

}

.social-links a:hover {

    transform: translateY(-3px);

}

/* =========================
   LARGE SCREEN
========================= */

@media (max-width: 1400px) {

    .footer-grid {

        gap: 60px;

    }

}

/* =========================
   TABLET
========================= */

@media (max-width: 992px) {

    .footer {

        padding: 70px 0 35px;

    }

    .footer-container {

        padding: 0 30px;

    }

    .footer-grid {

        grid-template-columns: 1fr 1fr;
        gap: 50px;

    }

    .footer-logo span {

        font-size: 18px;

    }

    .footer-brand p {

        font-size: 18px;
        max-width: 100%;

    }

    .footer-column h4 {

        font-size: 24px;

    }

    .footer-column ul li a {

        font-size: 18px;

    }

    .copyright {

        font-size: 18px;

    }

}

/* =========================
   MOBILE
========================= */

@media (max-width: 767px) {

    .footer {

        padding: 60px 0 30px;

    }

    .footer-container {

        padding: 0 20px;

    }

    .footer-grid {

        grid-template-columns: 1fr;
        gap: 45px;

    }

    .footer-logo {

        justify-content: center;

    }

    .footer-brand {

        text-align: center;

    }

    .footer-brand p {

        margin: auto;
        font-size: 18px;
        line-height: 1.9;

    }

    .footer-column {

        text-align: center;

    }

    .footer-column h4 {

        margin-bottom: 25px;

    }

    .footer-column ul li {

        margin-bottom: 18px;

    }

    .footer-column ul li a {

        font-size: 18px;

    }

    .footer-bottom {

        margin-top: 60px;

        flex-direction: column;
        gap: 25px;

        text-align: center;

    }

    .copyright {

        font-size: 18px;

    }

    .social-links a {

        font-size: 24px;

    }

}

@media (max-width: 480px) {

    .footer-logo span {

        font-size: 24px;

    }

    .footer-logo img {

        width: 150px;
        height: auto;

    }

}